In [1]:
import pandas as pd
import yfinance as yf

In [4]:
act = ["^GSPC", "BTC-USD"]
df = yf.download(act)[("Close")].dropna()
df

[*********************100%***********************]  2 of 2 completed

                 BTC-USD        ^GSPC
Date
2014-09-17    457.334015  2001.569946
2014-09-18    424.440002  2011.359985
2014-09-19    394.795990  2010.400024
2014-09-22    402.152008  1994.290039
2014-09-23    435.790985  1982.770020
...                  ...          ...
2021-05-12  49150.535156  4063.040039
2021-05-13  49716.191406  4112.500000
2021-05-14  49880.535156  4173.850098
2021-05-17  43537.511719  4163.290039
2021-05-18  42841.035156  4152.770020

[1675 rows x 2 columns]

In [5]:
df = df.pct_change() * 100
df

              BTC-USD     ^GSPC
Date
2014-09-17        NaN       NaN
2014-09-18  -7.192558  0.489118
2014-09-19  -6.984265 -0.047727
2014-09-22   1.863245 -0.801332
2014-09-23   8.364742 -0.577650
...               ...       ...
2021-05-12 -13.321745 -2.144940
2021-05-13   1.150865  1.217314
2021-05-14   0.330564  1.491796
2021-05-17 -12.716430 -0.253005
2021-05-18  -1.599716 -0.252685

[1675 rows x 2 columns]

In [7]:
df.corr().round(3)

         BTC-USD  ^GSPC
BTC-USD    1.000  0.139
^GSPC      0.139  1.000