In [1]:
import pandas as pd
import yfinance as yf

In [4]:
activo = ["DOGE-USD", "BTC-USD", "ETH-USD", "LTC-USD","ADA-USD", "ZEC-USD", "XLM-USD", "XRP-USD"]
df = yf.download(activo)[("Close")]
df = df.dropna()
df

[*********************100%***********************]  8 of 8 completed

,ADA-USD,BTC-USD,DOGE-USD,ETH-USD,LTC-USD,XLM-USD,XRP-USD,ZEC-USD
Date,,,,,,,,
2017-10-01,0.024969,4403.740234,0.001084,302.337006,54.543301,0.013688,0.206532,263.944000
2017-10-02,0.025932,4409.319824,0.001085,297.475006,53.375999,0.012962,0.202676,257.600006
2017-10-03,0.020816,4317.479980,0.001108,292.463013,52.349602,0.012404,0.203318,252.942001
2017-10-04,0.021931,4229.359863,0.001024,292.657990,51.399502,0.011851,0.214774,237.910004
2017-10-05,0.021489,4328.410156,0.001001,295.863007,51.669498,0.014576,0.237016,254.815994
...,...,...,...,...,...,...,...,...
2021-05-03,1.362030,57200.292969,0.441707,3431.086182,294.704010,0.552142,1.555995,250.269028
2021-05-04,1.274111,53333.539062,0.541334,3253.629395,306.234497,0.503323,1.392376,241.947327
2021-05-05,1.475529,57424.007812,0.657633,3522.783203,356.037079,0.603429,1.614512,290.040863
2021-05-06,1.650124,56396.515625,0.580804,3490.880371,353.510345,0.651032,1.600581,307.655334
2021-05-08,1.632528,57273.832031,0.695876,3471.894775,342.191956,0.628446,1.568416,315.615295

In [5]:
tabla = df.pct_change() * 100
tabla.dropna()

,ADA-USD,BTC-USD,DOGE-USD,ETH-USD,LTC-USD,XLM-USD,XRP-USD,ZEC-USD
Date,,,,,,,,
2017-10-02,3.856777,0.126701,0.092252,-1.608139,-2.140137,-5.303912,-1.867025,-2.403538
2017-10-03,-19.728517,-2.082857,2.119821,-1.684845,-1.922957,-4.304892,0.316763,-1.808232
2017-10-04,5.356456,-2.041008,-7.581232,0.066667,-1.814913,-4.458245,5.634522,-5.942863
2017-10-05,-2.015412,2.341969,-2.246088,1.095141,0.525290,22.993845,10.356007,7.106044
2017-10-06,-13.727952,0.979572,5.494501,4.300979,0.872081,26.255482,-1.256039,1.096091
...,...,...,...,...,...,...,...,...
2021-05-03,2.654332,1.005128,17.460891,16.226996,9.512904,-1.313686,-0.425308,2.704073
2021-05-04,-6.454997,-6.760025,22.554995,-5.172029,3.912565,-8.841748,-10.515396,-3.325102
2021-05-05,15.808506,7.669599,21.483786,8.272418,16.262891,19.889017,15.953739,19.877689
2021-05-06,11.832706,-1.789308,-11.682658,-0.905614,-0.709683,7.888741,-0.862856,6.073100
2021-05-08,-1.066359,1.555622,19.812548,-0.543863,-3.201714,-3.469278,-2.009578,2.587298

In [14]:
desviacion = pd.DataFrame(index = tabla.columns)
desviacion["Std"] = tabla.std()
desviacion.sort_values(by = "Std", ascending = False).round(3)

             Std
DOGE-USD  11.127
ADA-USD    8.350
XLM-USD    7.647
XRP-USD    7.214
ZEC-USD    5.874
LTC-USD    5.705
ETH-USD    5.096
BTC-USD    4.145

In [26]:
tabla = pd.DataFrame(index = tabla.columns)
tabla["media"] = tabla.mean()

       media
media    NaN